#index:
#    path: /
#    controller: App\Controller\DefaultController::index


## USER

users:
    path: /users
    controller: App\Controller\UserController::getUsers

user:
    path: /user/{id}
    controller: App\Controller\UserController::getUserById

adduser:
    path: /adduser
    controller: App\Controller\UserController::addUser

updateuser:
    path: /updateuser/{id}
    controller: App\Controller\UserController::updateUser

updateuserpassword:
    path: /updateuserpassword/{id}
    controller: App\Controller\UserController::updateUserPassword

deleteuser:
    path: /deleteuser/{id}
    controller: App\Controller\UserController::deleteUser

## LOG IN

login:
    path: /login
    controller: App\Controller\LoginController::login

## TRACK

track:
    path: /track/{id}
    controller: App\Controller\TrackController::getTrackById

tracks:
    path: /tracks
    controller: App\Controller\TrackController::getTracks

usertracks:
    path: /usertracks/{id}
    controller: App\Controller\TrackController::getUserTracks

addtrack:
    path: /addtrack
    controller: App\Controller\TrackController::addTrack

removetrack:
    path: /removetrack/{id}
    controller: App\Controller\TrackController::removeTrack

addlike:
    path: /addlike/{userId}/{trackId}
    controller: App\Controller\TrackController::addLike

removelike:
    path: /removelike/{id}
    controller: App\Controller\TrackController::removeLike

## PLAYLIST

playlists:
    path: /playlists
    controller: App\Controller\PlaylistController::getPlaylists

playlist:
    path: /playlist/{id}
    controller: App\Controller\PlaylistController::getPlaylistById

userplaylists:
    path: /userplaylists/{id}
    controller: App\Controller\PlaylistController::getUserPlaylists

playlisttracks:
    path: /playlisttracks/{id}
    controller: App\Controller\PlaylistController::getPlaylistTracks